In [ ]:
###Creat list

A=["Nisha","Tybsc","9146"]
type(A)
print(type(A))

<class 'list'>

In [ ]:
##For list A
A.append("Nisha")  #Adds an element at the end of the list
print(A)

['Nisha', 'Tybsc', '9146', 'Nisha']

In [ ]:
A.insert(3,"statistics")  #Adds an element at the specified position
print(A)

['Nisha', 'Tybsc', '9146', 'statistics', 'Nisha']

In [ ]:
X=A.count("Nisha") #Returns the number of elements with the specified value
print(X)
print(A[:1])  #for first  index values
print(A[1:])  #from first index values onward

2
['Nisha']
['Tybsc', '9146', 'statistics', 'Nisha']

In [ ]:
A.extend([1,2,3])  #Add the elements of a list (or any iterable), to the end of the current list
print(A)
A.copy()    #Returns a copy of the list
print(A)
A.clear()   #Removes all the elements from the list
print(A)

['Nisha', 'Tybsc', '9146', 'statistics', 'Nisha', 1, 2, 3]
['Nisha', 'Tybsc', '9146', 'statistics', 'Nisha', 1, 2, 3]
[]

In [ ]:
B=["SP CLG","Tilak road pune"]
type(B)
print(type(B))

In [ ]:
B.append("SP CLG")  #Adds an element at the end of the list
print(B)

In [ ]:
B.insert(1,"Sadashiv peth")  #Adds an element at the specified position
print(B)

In [ ]:
Y=B.count("SP CLG")  #Returns the number of elements with the specified value
print(Y)
print(B[:1])  #for first  index values
print(B[1:])  #from first index values onward

In [ ]:

B.extend([1,2,3])  #Add the elements of a list (or any iterable), to the end of the current list
print(B)
B.copy()   #Returns a copy of the list
print(B)
B.clear()  #Removes all the elements from the list
print(B)

In [ ]:
## Creat tuple
A=("Nisha","Tybsc","9146")
print(type(A))
print(A)
m=A.count("Nisha")  #Returns the number of elements with the specified value
print(m)

<class 'tuple'>
('Nisha', 'Tybsc', '9146')
1

In [ ]:
print(A[1:])  #from first index values onward
print(A[:2])  #for second  index values
len(A)  #no. of elements in list

('Tybsc', '9146')
('Nisha', 'Tybsc')

3

In [ ]:
A=("Nisha","Tybsc","9146")
print(A)
del(A) #Delete list

('Nisha', 'Tybsc', '9146')

In [ ]:
B=["SP CLG","Tilak road pune"]
type(B)
print(type(B))
t=B.count("SP CLG")
print(t)

<class 'list'>
1

In [ ]:
print(B[1:])  #from first index values onward
print(B[:2])  #for second  index values
len(B)  #no. of elements in list

['Tilak road pune']
['SP CLG', 'Tilak road pune']

2